script(type='text/javascript', src='lazyload/lazyload.min.js')
each status in statuses
  div.row
    div.col-sm-12
      div.thumbnail
        div.iframe-wrapper
          iframe(
            src='loading',
            data-src='item/'+status.id_str,
            onload='lzld(this)',
            sandbox='allow-scripts'
          )
        div.caption
          h3
            a(href='https://twitter.com/'+status.user.screen_name)
              =status.user.name
          pre=status.es6
          p
            span(class='glyphicon glyphicon-retweet', aria-hidden="true")
            =' '+status.retweet_count
            |&nbsp;
            |&nbsp;
            span(class='glyphicon glyphicon-heart', aria-hidden="true")
            =' '+status.favorite_count
          p
            a.btn.btn-primary(
              href='https://twitter.com/'+status.user.screen_name +'/status/'+status.id_str
            ) View Tweet
