div.col-md-4.col-sm-12
  div.thumbnail
    a(href='/status/'+status.id_str)
      if gifs[status.id_str]
        img(
          src='preview-loading.gif',
          data-src='gif/'+status.id_str+'.gif')
      else
        img(src='preview-coming-soon.gif')
    div.caption
      h3
        a(href='https://twitter.com/'+status.user.screen_name)
          =status.user.name
      pre=status.es6
      p
        a.intent.retweet(
          href='https://twitter.com/intent/retweet?tweet_id='+status.id_str,
          onclick='return !window.open(this.href, "", "width=550,height=520")',
          target='_blank')
          span(class='glyphicon glyphicon-retweet', aria-hidden="true")
          =' '+status.retweet_count
        |&nbsp;
        |&nbsp;
        a.intent.like(
          href='https://twitter.com/intent/like?tweet_id='+status.id_str,
          onclick='return !window.open(this.href, "", "width=550,height=520")',
          target='_blank')
          span(class='glyphicon glyphicon-heart', aria-hidden="true")
          =' '+status.favorite_count
