doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title d3fc-tweet
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='site.css')
  body
    script(type='text/javascript', src='lazyload/lazyload.min.js')
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation')
              a(href='/playground') Playground
          h3.text-muted
            a(href='/') t.d3fc.io
      div.jumbotron
        h1 A collection of tweet-sized* d3 creations
          p
            small &nbsp;*116 characters + helpers
        p.lead
          |To add yours, just tweet the code followed by
          code &nbsp;https://t.d3fc.io
          |. To help get the size down, both
          =' '
          a(href='https://github.com/chrisprice/t-d3fc/blob/master/public') JavaScript
          =' '
          |and
          =' '
          a(href='https://github.com/chrisprice/t-d3fc/blob/master/public') CSS
          =' '
          |helpers are provided and all code is transpiled by Babel (es2015/stage-2).
      div.marketing
        each status in statuses
          div.row
            div.col-sm-12
              div.thumbnail
                iframe(
                  src='loading',
                  data-src=status.id_str,
                  onload='lzld(this)',
                  width='500',
                  height='500',
                  sandbox='allow-scripts'
                )
                div.caption
                  h3
                    a(href='https://twitter.com/'+status.user.screen_name)
                      =status.user.name
                  pre=status.es6
                  p
                    a.btn.btn-primary(
                      href='https://twitter.com/'+status.user.screen_name +'/status/'+status.id_str
                    ) View Tweet


      footer.footer
        p Piggy-backing the infrastructure of&nbsp;
          a(href='https://d3fc.io/') d3fc
          |&nbsp;since 2016
