doctype html
html(lang='en')
  head
    title d3fc-tweet
    link(rel='stylesheet', href='base.css')
  body
    script(type='text/javascript', src='/babel-standalone.min.js')
    h1 t.d3fc.io
    h2 Playground
    textarea#code(rows='3')
    button#run-code Run code
    iframe(
      id='iframe',
      width='500',
      height='500',
      sandbox='allow-scripts allow-same-origin',
      srcdoc='<html lang="en"><head><link rel="stylesheet" href="/base.css"></head><body><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.js"></script><script type="text/javascript" src="/base.js"></script></body></html>'
    )
    script(type='text/javascript', src='base.js')
    
